<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="none">
      <ion-back-button defaultHref="/places/tabs/offers">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-button>
    <ion-title>New Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="4">row 1 col 1</ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <h1>That's cool</h1>
            <p>row 1 col 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col>row 1 col 3</ion-col>
      <ion-col>row 1 col 4</ion-col>
      <ion-col>row 1 col 5</ion-col>
      <ion-col>row 1 col 6</ion-col>
      <ion-col>row 1 col 7</ion-col>
      <ion-col>row 1 col 8</ion-col>
      <ion-col>row 1 col 9</ion-col>
      <ion-col>row 1 col 10</ion-col>
      <ion-col>row 1 col 11</ion-col>
      <ion-col>row 1 col 12</ion-col>
      <ion-col>row 1 col 13</ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>