<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="none">
      <ion-back-button defaultHref="/places/tabs/offers">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-button>
    <ion-title>New Offers</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCreateOffer()" [disabled]="form.invalid">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="6" offsetMd="3">
          <ion-item>
            <ion-label position="floating"> Title </ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
        <ion-col sizeMd="6" offsetMd="3">
          <p> Title is required</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" sizeMd="6" offsetMd="3">
          <ion-item>
            <ion-label position="floating">Short Discription</ion-label>
            <ion-textarea rows="3" formControlName="discription"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.get('discription')?.invalid && form.get('discription')?.touched">
        <ion-col sizeMd="6" offsetMd="3">
          <p> Discription sould be between 1 to 180 charecter</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="6" offsetMd="3">
          <ion-item>
            <ion-label position="floating"> Price</ion-label>
            <ion-input type="text" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.get('price')?.invalid && form.get('price')?.touched">
        <ion-col sizeMd="6" offsetMd="3">
          <p> Price is required</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeMd="6" offsetMd="3">
          <ion-item lines="none">
            <ion-label> Select Date Here</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="3" offsetSm="3">
          <ion-item>
            <ion-label>Available From</ion-label>
            <ion-input type="text" formControlName="dateFrom"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeSm="3">
          <ion-item>
            <ion-label expand="block">Available To</ion-label>
            <ion-input type="text" formControlName="dateTo"></ion-input>
          </ion-item>

          <!-- Ionic Date Picker -->

          <!-- <ion-label position="floating" class="ion-padding">Available from</ion-label>
          <ion-item>
            <ion-datetime-button datetime="datetimeFrom" formControlName="dateFrom"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetimeFrom" displayFormat="YYYY-MM-DD" min="2019-01-01"
                  max="2025-12-31"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
        <ion-col sizeSm="3">
          <ion-label position="floating" class="ion-padding">Available To</ion-label>
          <ion-item>
            <ion-datetime-button datetime="datetimeTo" formControlName="dateTo"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetimeTo" min="2019-01-01" max="2025-12-31"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="3" offsetSm="3" *ngIf="form.get('dateFrom')?.invalid && form.get('dateFrom')?.touched">
          <p>Please Enter Date From </p>
        </ion-col>
        <ion-col sizeSm="3" *ngIf="form.get('dateTo')?.invalid && form.get('dateTo')?.touched">
          <p>Please Enter Date To </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>